
/* Estilo para el fondo del contenedor de proyecto */
.divnavbar {
    background-color: rgb(9, 9, 86);
}

.navbar-brand{
    color: white !important; 
}

/* Estilo para el logo */
.logoblanco {
    width: 90px;
}

/* Cambia el color del texto del navbar a blanco */
.navbar-nav .nav-link {
    color: white !important; /* !important asegura que este estilo sobrescriba otros estilos */
}

.divbody{
    text-align: center;
}

.input-group{
    padding-left: 5%;
    padding-right: 5%;
}