
/* Estilo para el fondo del contenedor de proyecto */
.divnavbar {
    background-color: rgb(9, 9, 86);
}

.divbody{
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
 }

.navbar-brand{
    color: white !important; 
}

/* Estilo para el logo */
.logoblanco {
    width: 90px;
}

/* Cambia el color del texto del navbar a blanco */
.navbar-nav .nav-link {
    color: white !important; /* !important asegura que este estilo sobrescriba otros estilos */
}

.buscador {
    flex-direction: column;
    margin-top: 20px;
    width: auto;
  }
  
.buscador .form-control {
    margin-right: 10px;
    width: 90%; /* Ajusta la anchura de la barra de búsqueda */
}

.search-form .form-control {
    width: 90%;  /* Ajusta este valor según tus necesidades */
  }